BUNDLE_ANALYZE=false
ENVIRONMENT_NAME=local

# This URL is the domain your app is hosted on. It is used for example, for generating the url(s) needed for the SEO properties
NEXT_PUBLIC_BASE_URL=http://localhost:3000/

# Your current space GraphQL endpoint: https://www.contentful.com/developers/docs/references/graphql/ - i.e. https://graphql.contentful.com/content/v1/spaces/{SPACE-ID}
CONTENTFUL_GRAPHQL_ENDPOINT=

# Your current space ID: https://www.contentful.com/help/find-space-id/
CONTENTFUL_SPACE_ID=

# Your current space Content Delivery API access token: https://www.contentful.com/developers/docs/references/content-delivery-api/
CONTENTFUL_DELIVERY_API_TOKEN=

# Your current space Content Preview API access token: https://www.contentful.com/developers/docs/references/content-preview-api/
CONTENTFUL_PREVIEW_API_TOKEN=

# Documentation: https://contentful.atlassian.net/wiki/spaces/PROD/pages/4138500311/Templates+-+Segment+tracking
# Write Key for Blog: https://app.segment.com/contentful-staging/sources/starter_template_blog/settings/keys
NEXT_PUBLIC_SEGMENT_WRITEKEY=***REMOVED***

# Source ID for Blog: https://app.segment.com/contentful-staging/sources/starter_template_blog/settings/keys
SEGMENT_TRACKINGPLAN_ID=***REMOVED***

# API Token: https://app.segment.com/contentful-staging/settings/connections
SEGMENT_TYPEWRITER_API_TOKEN=***REMOVED***
